openapi: 3.0.3
info:
  title: TechRepublic WordPress REST Authors API
  description: The TechRepublic WordPress REST API provides JSON endpoints for accessing posts, pages, categories, tags, authors, media, and other content types published on TechRepublic.com. Built on the standard WordPress REST API framework, it supports filtering, pagination, and full-text search across all TechRepublic technology news and analysis content.
  version: 2.0.0
  contact:
    url: https://www.techrepublic.com/about/
  license:
    name: WordPress License (GPL-2.0)
    url: https://wordpress.org/about/license/
servers:
- url: https://www.techrepublic.com/wp-json/wp/v2
  description: TechRepublic WordPress REST API v2
tags:
- name: Authors
paths:
  /users:
    get:
      operationId: listAuthors
      summary: List Authors
      description: Retrieve a collection of authors who have published on TechRepublic.
      tags:
      - Authors
      parameters:
      - name: page
        in: query
        description: Current page of the collection.
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        required: false
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of authors.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Author'
  /users/{id}:
    get:
      operationId: getAuthor
      summary: Get Author
      description: Retrieve a specific author profile by ID.
      tags:
      - Authors
      parameters:
      - name: id
        in: path
        description: Unique identifier for the author.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A single author object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'
        '404':
          description: Author not found.
components:
  schemas:
    Author:
      type: object
      description: A TechRepublic author or contributor.
      properties:
        id:
          type: integer
          description: Unique identifier for the user.
        name:
          type: string
          description: Display name for the user.
        url:
          type: string
          format: uri
          description: URL of the user.
        description:
          type: string
          description: Description of the user.
        link:
          type: string
          format: uri
          description: Author archive URL.
        slug:
          type: string
          description: An alphanumeric identifier for the user.
        avatar_urls:
          type: object
          description: Avatar URLs for the user.
          properties:
            '24':
              type: string
              format: uri
            '48':
              type: string
              format: uri
            '96':
              type: string
              format: uri
